<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>Bienvenue dans l'application GrandPy Bot </title>
    {% else %}
        <title> Grandpy Bot </title>
    {% endif %}
</head>
<body class=".flex-column" class=".d-flex">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="header"> Bienvenue sur le site de Grandpy Bot ! <img src="{{ url_for('static', filename='images/logo_robot.png')}}" ></div>
            </div>
        </div>
        <div class="container">
                <nav class="navbar navbar-inverse" id="navbar">
                  <div class="container">
                    <ul class="nav navbar-nav">
                     <li class="active"> <a href="{{ url_for('home') }}">Accueil</a> </li>
                     <li> <a href="{{url_for('about') }}">A propos</a> </li>
                    </ul>
                  </div>
                </nav>
        </div>
    {% block content %}{% endblock %}

    <footer class="row">
        <div class="col-xs-12 col-lg-12" id="footer">
            Damien Galasso 2019
            <a href="https://github.com/Seiph59"><img src="{{ url_for('static', filename='images/github.png')}}" class="logos" ></a>
            <a href="https://www.linkedin.com/in/damien-g-60109523/"><img src="{{ url_for('static', filename='images/linkedin.png')}}" class="logos" ></a>
        </div>
    </footer>
</body>
</html>