h1 {

    text-align: center;
}

#header{
    font-size: 38px;
    text-align: center;
    align-content: center;
    flex-grow: 0;
}

body {
    min-height: 100vh;
    background-color:#626C66;
    color:#E1CA96;
    overflow-x: hidden;
    flex-grow: 1;
}

#main{
    height: 100%;
}

#chat{
    position: relative;
    border: 2px solid black;
    height: 450px;
    background-color: #E1CA96;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y:auto;
}

#img_load{
    width: 70px;
}

#loader{
    position: absolute;
    visibility: hidden;
    text-align: center;
    right: 0;
    left: 0;
    top: 50%;
    z-index: 1000;
}

#footer{
    position: absolute;
    width: 100%;
    bottom: auto;
    clear: both;
    font-size: 13px;
    text-align: center;
    flex-grow: 0;
    padding-top: 12%;
}

.grandpy_react{
    margin-right: 10px;
    text-align:right;
    font-size: 17px;
    color: black;
    background-color: #ACA885;
    border: 1px #918B76;
    border-radius: 5px;
    top: 5px;
}

.user-conversation{
    margin-left: 10px;
    text-align: left;
    font-size: 17px;
    color:black;
    background-color:#918B76;
    border: 1px #ACA885;
    border-radius: 5px;
}

#navbar{
    background-color:#263128;
}

#question{
    position: relative;
    width: 100%;
    background-color: white;
    color:black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid black;
}

#submit_button{
    position: fixed;
    bottom: 0px;
    align-content: center;
    background-color: white;
    color: black;
    align-self: right;
}

.about{
    text-align: center;
    margin-top: 200px;
}

#techs{
    border: 2px black;
    margin-top: 100px;
}

#logo-flask{
    width: 70px;
    height: 70px;
}

.logos
{
    width:20px;
    height:20px;
}

.logos-about
{
    width:120px;
    height:90px;
}