h1 {

    text-align: center;
}

#header{
    font-size: 40px;
    text-align: center;
    align-content: center;
}

body {
    background-color:#626C66;
    color:#E1CA96;
}
#chat{
    position: relative;
    border: 2px solid black;
    height: 450px;
    background-color: #E1CA96;
    border-radius: 10px;
    overflow-y:auto;
}

#pied{
    position: relative;
    bottom: 0;
    font-size: 15px;
    text-align: center;
}

.grandpy_react{
    margin-right: 10px;
    text-align:right;
    font-size: 20px;
    color: black;
    background-color: #ACA885;
    border: 1px #918B76;
    border-radius: 5px;
    top: 5px;
}

.user-conversation{
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    color:black;
    background-color:#918B76;
    border: 1px #ACA885;
    border-radius: 5px;
}

#navbar{
    background-color:#263128;
}

#question{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: white;
    color:black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border:1px solid black;
}

#submit_button{
    position: fixed;
    bottom: 0px;
    align-content: center;
    background-color: white;
    color: black;
    align-self: right;
}

.logos
{
    width:20px;
    height:20px;
}